* {
  margin: 45px 0 0 0;
  padding: 0;
}


body {
    font-family: Orator Std , YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-color: #85ccc7;
    font-size: 14px;
    text-align: center;
    color: #41210d;
}

body h1{
  font-family:Chalk duster, Orator Std , YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 50px;
  
}

/*
↓↓このnav達まとめられそうだけど…
*/

nav ul li {
  margin: 25px 20px;
  display: inline-block;
  padding: 10px 0; 
}

nav {
  text-align: center;
  background-color: #fff;
}

nav ul li a {
  text-decoration: none;
  color: #41210d;
  font-weight: bold;
}

nav ul li a .selected{
    color: #41210d;
}

.row img{
  margin:  0 0 15px 0;
  text-align: center;
  max-width: 150px;
 

}

.sentences {
  margin: 10px 0;
  background-color: #fff;
  text-align: center;
  max-width: 150px;
}

footer {
  padding: 20px 0;
  font-size: 93%;
  text-align: center;
  background-color: #FFF;
  color: #666;
}